<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

     <p>Team Name: <%=@params[:coach] %></p>
     <p>Coach: <%=@params[:coach] %></p>
     <p>Point Guard: <%=@params[:coach] %></p>
     <p>Shooting Guard: <%=@params[:coach] %></p>
     <p>Small Forward: <%=@params[:coach] %></p>
     <p>Power Forward: <%=@params[:coach] %></p>
     <p>Center: <%=@params[:coach] %></p>
 </body>
</html>
